mat-form-field {

    text-align: center;
    margin: 10px auto;
    width: 20em;

}
#mat-input-0 {
    text-align: left !important;
}
input {
    text-align: center;
}
form {
    text-align: center;
}

mat-spinner {
    margin: 50px auto;
}