// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: (
  50: #e0f6f7,
  100: #b3e9ea,
  200: #80dbe0,
  300: #4dcdd6,
  400: #26c2cd,
  500: #00b8c5,
  600: #00aebd,
  700: #009ea8,
  800: #008e93,
  900: #006e6f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$accent: (
  50: #fdeee9,
  100: #fccccc,
  200: #faad99,
  300: #f88e66,
  400: #f77033,
  500: #f65100,
  600: #e64a00,
  700: #cc3e00,
  800: #b33300,
  900: #992700,
  contrast: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  ),
);
$bananalyzer-primary: mat.define-palette($primary, 500, 100, 700);
$bananalyzer-accent: mat.define-palette($accent, 500, 100, 700);
$bananalyzer-warn: mat.define-palette(mat.$red-palette);
$bananalyzer-theme: mat.define-light-theme(
  (
    color: (
      primary: $bananalyzer-primary,
      accent: $bananalyzer-accent,
      warn: $bananalyzer-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bananalyzer-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: "Fredoka One";
}
.container {
  text-align: center;
  width: 100vw;
}
